/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.env
najiib-app-5070a-firebase-adminsdk-ziqok-f175205356.json
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/css
public/js
public/mix-manifest.json
public/videos
public/images
public/documents

# But not these files...
# public/assets/*
# public/assets/js
# public/assets/css
# public/assets/vendor
